<form {{action save on="submit"}} class="">
  {{#if errorMessage}}
    <h2 class="white bg-red p1">{{errorMessage}}</h2>
  {{/if}}
  <label>Select an article</label>
  {{#power-select class="select"
    selectect=model.article
    options=articles
    onchange=(action (mut model.article)) as |article|}}
    {{article.name}}
  {{/power-select}}
  <br>
  {{textarea value=model.notes placeholder="Notes" class="textarea" cols="50" rows="10"}}
  <br>
  <button {{action cancel}} class="btn h3 border white bg-gray p2 mr2 col-3">Cancel</button>
  <input type="submit" value="Save" class="btn h3 white bg-green border p2 mr2 col-3"/>
</form>
